@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Home
5. Home Search
6. Destinations
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.9285;
	font-weight: 400;
	color: #72728c;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
}

h1{font-size: 72px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Header
*********************************/

.header
{
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.header_content
{
	width: 100%;
	height: 148px;
}

.header_content_inner
{
	width: 100%;
}
.logo a
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #000000;
    line-height: 0.75;
    cursor: pointer;
}
.main_nav
{
	margin-left: 242px;
}
.main_nav ul li
{
	position: relative;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 54px;
}
.main_nav ul li a
{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #000000;
    white-space: nowrap;
    cursor: pointer;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 800px;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider_content_container
{
    position: absolute;
	top: 31.5%;
	left: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
}
.home_title h2
{
	font-size: 100px;
	line-height: 1.1;
	font-weight: 400;
	color: #181818;
}
/*********************************
5. Home Search
*********************************/

.home_search
{
	width: 100%;
	height: 0;
	background: #FFFFFF;
	z-index: 1;
}
.home_search_container
{
	position: absolute;
	top: -353px;
	width: calc(100% + 122px);
	left: -61px;
	padding-top: 47px;
	padding-left: 61px;
	padding-right: 61px;
	padding-bottom: 59px;
	background: rgba(255,255,255,0);
	border-radius: 12px;
}
.home_search_title
{
	width: 247px;
	height: 55px;
	background: #181818;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	line-height: 55px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 400;
	text-align: center;
}

.search_input
{
	height: 50px;
	background: #181818;
	border: none;
	outline: none;
	padding-left: 17px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px ;
	font-weight: 500 ;
	color: #FFFFFF ;
}
.search_input::-webkit-input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px ;
	font-weight: 500;
	color: #FFFFFF ;
}
.search_input:-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px ;
	font-weight: 500 ;
	color: #FFFFFF ;
}
.search_input::-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px ;
	font-weight: 500;
	color: #FFFFFF;
} 
.search_input:-ms-input-placeholder
{ 
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF ;
}
.search_input::input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
}
.home_search_button
{
	width: 161px;
	height: 52px;
	background: #181818;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 500;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
}

.home_search_button a
{
	color: #FFFFFF;
}
/*********************************
6. Destinations
*********************************/

.destinations
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.section_title
{
	color: #181818;
    margin-top: 26px;
    
}
.destinations_row
{
	margin-top: 99px;
}
.destination_image
{
	width: 100%;
}
.destination_image img
{
	max-width: 100%;
}
.spec_offer
{
	position: absolute;
	top: 15px;
	left: 16px;
	width: 118px;
	height: 36px;
	background: #181818;
}
.spec_offer a
{
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 36px;
	font-weight: 400;
}
.destinations_container
{
	width: calc(100% + 30px);
	left: -15px;
}
.destination
{
	width: calc(100%/3);
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 33px;
}
.destination_title
{
	margin-top: 15px;
}
.destination_title a
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #181818;
}
.destination_subtitle
{
	margin-top: -4px;
}
.destination_price
{
	font-size: 16px;
	font-weight: 700;
	color: #181818;
	margin-top: 16px;
}
/*********************************
7. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
    padding-top: 136px;
}
.footer_contact_title
{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 18px;
}
.footer_contact_list
{
	margin-top: 19px;
}
.footer_contact_list ul li
{
	font-size: 18px;
    color: #000000;
    margin: -70px;
	line-height: 1.71;
}
.footer_contact_list ul li:not(:last-child)
{
	margin-bottom: 70px;
}

